$dark-lavander: #70548E;
$light-red-ochre: #DC744F;
$davys-grey: #564E5B;
$platinum: #E7E1E3;
$vivid-tangerine: #F6A087;
$licorice: #11110F;
$pastel-pink: #DC9DA7;
$wild-blue-yonder:#97AFD1;
$spanish-violet: #482670;
$flame: #e04f15;
$baby-powder: #fdfdfd;



